# --- CONFIGURACIÓN DE BASE DE DATOS LOCAL (DOCKER) ---
DB_USER=admin_uneti
DB_PASSWORD=cambiame_123
DB_NAME=sis_uneti

# --- CONFIGURACIÓN DE NESTJS ---
PORT=3000
NODE_ENV=development

# --- SUPABASE (PARA EL MVP) ---
SUPABASE_URL=https://tu-proyecto.supabase.co
SUPABASE_KEY=tu-anon-key-aqui